<div class="jumbotron text-center">
  <div id="main-div">
    <h1 id="title">BoriShop</h1>
    <p id="subtitle">Welcome to this very cool e-commerce site</p>
    <h4> - Administration Page - </h4>
     
  </div>
</div>
  <div class="container text-center">
  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/products" routerLinkActive="active" id="product-main-btn" type="button" class="btn btn-info">Products</a>
      <p>View and modify the products for sale </p>
    </div>
    <div class="col-sm-6">
      <a routerLink="/users" routerLinkActive="active" id="user-main-btn" type="button" class="btn btn-info">Users</a>
      <p>View and edit site users</p>
    </div>

  </div>
</div>
<router-outlet></router-outlet>