#main-form{
    position: absolute;
    top: 40%;
    width: 20em;
    min-height: 20em;
    left: 40%;
    background-color:whitesmoke;
    padding: 10px;

    border: 1px solid black;
}
label{
    
    margin-bottom: 0px !important;
    margin-top: 8px;
}

.form-label{
    margin-top:8px !important;
    margin-bottom: 0px !important;
}

button{

    margin-top: 8px;
    margin-right: 5px;
}
body {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 50px;
    width: 300px;
    margin: 0 auto;
    background-color: #374954;
  }
  
  .dropdown {

    transform: translateY(-50%);
  }
  
  a {
    color: #fff;
  }
  
  .dropdown dd,
  .dropdown dt {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown ul {
    margin: -1px 0 0 0;
  }
  
  .dropdown dd {
    position: relative;
  }
  
  .dropdown button,
  .dropdown button:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
  }
  
  .dropdown  button {
    background-color:#24A8BD;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
   
  }

  .dropdown  ul {
    background-color: #4F6877;
    border: 0;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    overflow: scroll;
    z-index: 1000;

  }

.multiSelect{
    margin-top: 16px;
    margin-bottom: 46px;
}

.multiSelect ul li{
    list-style-type: none;

}

.insert-list{
    padding:5px;

}

.bottom-btn{
    position: absolute;
    bottom:   10px;
}