<div class="container">
    <h2 id="orders-title" style="text-align:center">Active Orders</h2>
    <p id="orders-subtitle" style="text-align:center"> These are all the orders currently active of our cool Store !</p>

    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <button id="add-order-btn" type="button" class="btn btn-info" (click)="showForm = !showForm">Add Order</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Buyer</th>
                <th>Item</th>
                <th>Status</th>
                <th>Administration Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <th class="tab-field">{{order.orderID}}</th>
                <th class="tab-field">{{order.buyer}}</th>
                <th class="tab-field">{{order.item}}</th>
                <th class="tab-field">{{order.status}}</th>

                <th class="tab-field">
                    <div class="btn-group" role="group">
                        <button [attr.id]="'btn-remove-order-' + order.orderID" (click)="removeOrder(order); $event.stopPropagation()" type="button"
                            class="btn btn-info btn-sm delete group-btn">Delete</button>

                        <button [attr.id]="'btn-advance-order-' + order.orderID" (click)="advanceOrderStatus(order); $event.stopPropagation()" type="button"
                            class="btn btn-info btn-sm delete group-btn">AdvanceStatus</button>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="showForm">
    <order-insertion-tab></order-insertion-tab>
</div>